@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

* { 
    margin : 0 ;
    padding : 0 ; 
    box-sizing : border-box ; 
    font-family :    'Rubik' , 'Montserrat' ,'sans serif' , 'arial narrow' ;  
}

html { 
    font-size : 62.5%  ; 
}
body { 
    background:  #970421  ;
    background-repeat: no-repeat ;
    background-size: cover; background-position: center ; 
    width : 100vw ; 
    height : fit-content  ;
    line-height : 1.25 ; 
    font-weight : 500 ; 
    overflow-x : hidden ;  
}
  


#header { 
    text-align: center ; 
    letter-spacing: -.5px ; 
    font-size : 3.2rem ;
    color : hsl(0,0%,10%) ; 
    font-weight : 600 ; 
    padding : .5rem 0 ; 
    /* text-shadow : 0 0 1px black , 0 0 3px white , 0 0 5px black  ;  */
   /*  animation-name : shakeHeader ;
    animation-duration : 5s ; 
    animation-timing-function : linear ;
    animation-iteration-count : infinite ;   */
}

#todo-holder { 
    width :  fit-content; 
    height : fit-content ;  
    margin : 2% auto  ;  
}

#list-container { 
    background :   hsl(348, 95%, 100%) ;   
    color : #000 ;   
    border-radius: .7rem ;
    box-shadow : 0 0 1rem .5rem rgba(0,0,0,0.5) ; 
    width : 42rem ; 
    padding : 1rem   ; 
    animation-name  : rotateContainer ; 
    animation-duration : 1s ; 
    animation-timing-function:  linear   ; 
    font-size : 1.8rem  ;
    }

#list-holder { 
    margin-top : 1rem ;
    padding-right : .5rem ;
    min-height : 20rem ; 
    max-height : 35rem ; 
    overflow-x : hidden ; 
    overflow-y: scroll;

}

#list-holder::-webkit-scrollbar {   
    background :   hsla(19, 100%, 80%, 1) ; 
    border-radius: 1rem ; 
    width : 1.5rem ; 
}

#list-holder::-webkit-scrollbar-thumb { 
    background : rgba(255, 116, 51, 0.9)  ;  
    border-radius : 1rem ;
}

#list-holder::-webkit-scrollbar-track { 
    background : transparent ;  
}

#add-row { 
    display : flex ; 
    flex-direction: row ;
    align-items : center ; 
    justify-content: space-between  ; 
    margin : .5rem 0 ; 
}
#add-row input { 
    flex : 1 ;
    background :  hsla(0, 2%, 83%,.75) ;
     margin-right : .5rem ; 
    font-weight : 60rem ; font-size : 1.8rem ;
    height : 3rem ; 
    padding: 1.5rem .5rem  ;
    outline  : none ;     border : none ;
    border-bottom : 2px solid  #970421 ;  
}


#add-row img  {
    width : 3rem ; 
}

.control-btns { 
    width : 3rem ; 
    cursor : pointer ;
}
.list-row { 
    display : flex ; 
    justify-content: space-between ; 
    align-items: center ;
    border-radius : .3rem ;  
    padding : .5rem 0 ;    
    margin : .5rem 0 ; 
    background : hsla(0, 0%, 90%,.8) ;
    border-bottom : 2px solid rgba(255, 116, 51, 0.9) ; 
}

.content {
     flex : 1; 
     padding-left: .5rem ;
     text-align : left ;  
     letter-spacing : -0.05em ; 
    }


@keyframes rotateContainer {
    0% { 
        opacity : 0 ; 
        transform : rotate(180deg) ; 
    }
    50% { 
        opacity : .5 ; 
    }
    100% { 
        opacity : 1 ; 
        transform : rotate(0) ; 
    }
}

@keyframes leftRightContainer { 
    0% { 
        opacity : 0 ; 
        transform: translateX(-2rem );
    }
    100% { 
        opacity : 1 ; 
        transform : translateX(2rem) ; 
    }
}
#list-status { 
    display : flex ; flex-direction: row ;
    justify-content: space-between ; 
    padding-right : 2rem; 
    font-size : 1.6rem ; 
    align-items: baseline ; 
    margin-top : 1rem ; 

}

#clear-all button {
    background : white ; /*hsl(206, 75%, 80%) */ 
    padding : .8rem 1.5rem  ; 
    font-family: 'Rubik' , 'sans serif'; 
    font-weight : 500 ; 
    outline : none ; border : none  ; 
    border-radius : .3rem ; 
    letter-spacing : -0.01em ; 
    color :  white ; background :rgb(247, 14, 14) ; 
    font-size : inherit ; 
}

.pointer-cursor { 
    cursor: pointer; 
}

#confirmation-box { 
    width : 100% ; 
    height: 100% ; position : fixed ;  
    z-index : 1 ; 
    top : 0 ; left : 0 ; 
    display : none  ; flex-direction: row ;  ; 
    justify-content : center; align-items: center ;
    background : rgba(0,0,0,0.5) ;   
    font-size : 1.8rem  ;  
     }

#confirm {  
    width : 40rem ; 
    padding : 5rem 2.5rem  ;
    text-align : center ; 
    border-radius : 5px ; 
    background: #fff ;  

}

.confirmation-btn {     
    padding : 1.5rem 2rem ;  
    outline : none ; border : none ;  
    font-weight : 600 ; margin-top : 1rem ;  
    border-radius : .5rem ; 
    color : white ; 
    letter-spacing: 0.05em ; 
}

.reverse , .delete  { 
    cursor : pointer; 
}
.delete { 
    background : hsl(0, 92%, 53%) ;  
}

.reverse { 
    background :hsl(206, 85%, 75%) ;  
    color : black ; 
}

#footer { 
    width  : 100vw ;
    padding  : 1.5rem 2rem ;  
    background :  hsl(348, 95%, 35%)  ;  
    color  : #fff ;  
    text-align : center ;  
    font-size : 1.6rem; 
    margin-top : 6rem ;  
} 

.profile-links:link, .profile-links:visited { 
    text-decoration : underline ;  
    color : #fff ; font-weight : 600 ; letter-spacing: .07em ; 
}

.profile-links:active {
     color : black ; 
}
@media (max-width: 500px ) { 
    html { 
        font-size : 9px ; 
    }

    #list-container { 
        width  : 39rem ; 
    }
    /* #add-row img , .control-btns { 
        width : 25px 
    } */
    
    #list-holder::-webkit-scrollbar {   
        border-radius: 1rem ; 
        width : 1rem ; 
    }
    
    #list-holder::-webkit-scrollbar-thumb { 
        border-radius : .8rem ;
    }
    
    #confirm { 
        width  : 30rem  ;  
        padding : 3rem 2rem ; 
    }   

    .confirmation-btn {
         padding : 1rem 1.5rem  ; 
    }
} 


@media (max-width: 390px ) { 
    html { 
        font-size : 7px ; 
    }

    #add-row input { 
        width : 80% ; 
         height : 1.6rem ; 
    }
    #list-container { 
        width  : 80vw ; 
    }
    #add-row img , .control-btns { 
        width : 1.8rem 
    }
    
    #list-holder::-webkit-scrollbar {   
        border-radius: 1rem ; 
        width : 1rem ; 
    }
    
    #list-holder::-webkit-scrollbar-thumb { 
        border-radius : 1rem ;
    }
    
    #confirm { 
        width : 60vw;  
        padding : 1.5rem 1rem ; 
        font-size : 1.5rem ; 
    }   

    .confirmation-btn {
         padding : .5rem 1rem ; 
        font-size : 1.5rem ; 

    }
    #clear-all button span:nth-child(1){ 
        display : none ;
    }
} 



@keyframes shakeHeader { 
    0% { 
        transform : translateX(0%) ;
    } 
    25% { 
        transform : translateX(10%)
    }
    75% { 
        transform : translateX(-10%)
    }
    100% { 
        transform: translateX(0%);
    }
}